{%extends 'index.html'%}

{%block content%}
<div class="container p-4">
    <div class="container bg-light">
        <div class="card-body p-4">
          <h2 class="card-title">USED CAR PRICE PREDICTION</h2>
          <p class="card-text">This is a dashboard to predict the used car price based on kaggle <a href="https://www.kaggle.com/avikasliwal/used-cars-price-prediction"> data </a></p>
          <a href="/prediction" class="btn btn-primary">Predict</a>
        </div>
    </div>
</div>
{%endblock%}